{% import '_includes/forms' as forms %}

{{
	forms.selectField({
        label: 'Select Projects to Display'|t,
        id: 'projects',
        name: 'projects',
        options: projectList,
        errors: settings.getErrors('projects'),
        required: true,
    })
}}

{{
	forms.textField({
		label: 'Minimum Selection'|t,
		id: 'min',
		name: 'min',
		instructions: 'The minimum number of video selections'|t,
		value: settings.min,
		errors: settings.getErrors('min')
	})
}}

{{
	forms.textField({
		label: 'Maximum Selection'|t,
		id: 'max',
		name: 'min',
		instructions: 'The maximum number of video selections'|t,
		value: settings.max,
		errors: settings.getErrors('max')
	})
}}